@font-face  {
    font-family: 'Press Start 2P';
    src: url('PressStart2P-Regular.ttf') format('truetype');
}

body {
    font-family: 'Press Start 2P';
    color: #d2d2d2;
    background-color: #232323;
}

ul  {
    padding-left: unset;
}

li {
    list-style: none;
}

#container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px 20px;
    margin: 0 40px;
}

#greeting {
    grid-column-start: 1;
    grid-column-end: 5;
    text-align: center;
    margin: 40px;
}

#username {
    color: cyan;
}

#clock {
    vertical-align: middle;
    margin: 10px;
    position: absolute;
    top: 0;
    right: 0;
}

#container > div {
    text-align: center;
    border: thin solid #4b4b4b;
}

.focused {
    color: yellow !important;
    text-decoration: underline solid yellow;
}

#search-container {
    grid-column-start: 1;
    grid-column-end: 5;
    width: 100%;
    margin: 0 auto;
    border: none !important;
    line-height: 40px;
    vertical-align: middle;
}

#search-label > object {
    margin-bottom: -12px;
}

#search {
    background-color: #232323;
    color: #d2d2d2;
    border: unset;
    border-radius: unset;
    border-bottom: 1px solid #d2d2d2;
    width: 25%;
    vertical-align: middle;
}
